body, input, textarea, select{
    font: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, .heading{
    font-family:Georgia, "Times New Roman", Times, serif;
}

body {
    background-color:#262318;
    margin:0;
}

h1{

 
    color: #262318;
    display: block;
   

}


h4 {
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
    margin-left: 300px;
}

h2 {

    color: #86521a;
}


header {
    background-color:#fff;
    padding: 0;
}

header h1 {

    padding-left: 48px;
    padding-top: 35px;
    text-align: left;
}

header nav {
    background-color:#c39b3d;
    padding: 5px;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
}

header li {
    flex-grow:1;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;
}

header a:hover {
    
    background-color: #262318;
}

main {
    background-color: #fff;
}

.carousel-container {
    padding-top: 10px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width:92%;
    max-height:300px;
}

.carousel-slide{

    display: flex;
    width: 100%;
    height: 500px;
}


.box-vista{

    background: #cdc8b1;
	padding: 10px 27px 27px 27px;
    width: 100%;
	margin-top: 10px;
    
}


#prevBtn{

    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
}

#nextBtn{

    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;


}

.carousel-slide img{
    width:300%;
    max-height:300px;
}



.box, .box-2 {
    border:1px solid #aaa;
    background-color: #ddd;
}

.box-box-visita{
    
    margin-left: 190px;


}

.tabl3 th{

    padding-right: 200px;
    margin-bottom: 20px;
    
}

.tabl3{

    padding-bottom: 30px;
    
}

.not{

    margin-top: 0px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 20px;
    margin-bottom: 0px;

}



input {
	height: 20px;
	width: 80px;
	background: #fff;
	border: none;
	font-size: 1em;
}

.box-box-visita input{

    width: 500px;
}

.box-box-visita textarea{

    width: 500px;
}

input.campo {
	border:1px solid #ada484;
}

input.botao {
	background: #9b9271;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;
}

fieldset {
	border: none;
}

legend {
	display: none;
}




.box button {
    background-color:rgb(9, 9, 145);
    color: #fff;
    border:1px solid #006;
    border-radius: 5px;
}

.box3{

    width:100%;
    max-height:300px;

}
    


.box-2 button{

    background-color:rgb(9, 9, 145);
    color: #fff;
    border:1px solid #006;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 20px;


}

footer p {
    color: #fff;
    font-style: italic;
    display: inline;
}

footer a {
    color:#fff;
    text-decoration: none;
}

.box-2 a{

    color:#fff;
    text-decoration: none;

}

.boxImg{

    border: #c39b3d solid 5px ;
}




.box a{

    color:#fff;
    text-decoration: none;

}

.media li{

    display: inline;
    margin-left: 15px;
    font-size: 1em;
    font-weight: normal;
    
}

.media2 li{


    display: inline;
    margin-left: 120px;
    font-size: 4em;
    font-weight: normal;

}

.media2 i {

    border: #c39b3d;
    padding: 10px 10px;
    font-size: 1.1em;
    color: #c39b3d;
}

.mapa{

    margin-left: 200px;
    margin-bottom: 20px;

}



.media i {

    border: rgb(229, 229, 229) solid 1px;
    padding: 10px 10px;
    font-size: 1.1em;
    color: rgb(229, 229, 229);
}
/*celular*/
@media (max-width:767px) { 
    
    .container {
        width: 325px;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
        
    }

    .container li{
            font-size: 8px;
            
    }
    
    .row{
        width: 300px;
        box-sizing: border-box;
        margin: 0 auto;
        display:flex;
        flex-direction: column;
        align-items:center;
        
        
        
    }

    .box {
        width:200px;
        box-sizing: border-box;
        margin: 10px 16px;
        border-radius: 5px;
    }
   
    .box img {
        width:100%;
    }

    .box h3, .box p, .box h4 {
        padding: 0 10px;
    }

    .box button {
        float:right;
        margin: 10px;
    }

   .box-2{

    width: 300px;
    box-sizing: border-box;
    margin: 10px 16px;
    border-radius: 5px;
   }


   .box-2 p,h3{

        padding-left: 10px;

   }

   footer p{

        font-size: 10px;

   }
   
   .media{

        margin-right: 45px;
   }

   

    header h1 {

    padding-bottom: 15px;
    padding-top: 0px;
    font-size: 20px;
    margin: 0;
    }

    .carousel-controller {
    position: absolute;
    top:75px;  
    width:75%;
    left: 41px;
    }

    .carousel-bullets {
        position:absolute;
        top: 150px;
        width: 100px;
        left: 50px;
        
    }

    .carousel ul {
        list-style: none;
        margin: 0;
        padding:0;
        height: 150px;
    }

    .box-img2{

     width: 300px;

    }

    .box-box-visita input{

        width: 200px;
    }

    .box-vista{

        width: 200px;
    }

    h4 {
        color: #86521a;
        text-transform: uppercase;
        padding-bottom: 3px;
        margin-bottom: 0;
        margin-left: 40px;
    }

    .box-box-visita{


        margin: 0;
    
     }


    
    .celular{

    width: 300px;
    box-sizing: border-box;
    margin-left: 35px;
    

    }
    .boxImg{

        width: 250px;
        height: 300px;
    }

    .tabl3 th{

        padding-right: 20px;
        margin-bottom: 0px;
        
    }
    
    .tabl3{
        
        margin-left: 20px;
        padding-bottom: 0px;
        
    }

    .tabl4{

        margin-left: 60px;
        padding-bottom: 0px;
        width: 70%;

    }

    .tabl4 th{

        
        padding-right: 0px;
        margin-bottom: 0px;


    }

    .boxImg3{

        width: 250px;
        height: 300px;
        margin-left: 270px;
        margin-top: 20px;
    }

    hr{

        width: 200px;
    }

    .video-c{
    
       padding-top: 20px;
       margin-left: 60px;
       width: 250px;
       height: 300px;
    }

    .not{


    margin-top: 0px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    margin-bottom: 0px;
        

    }

    .media2 li{


        display: inline;
        margin-left: 85px;
        font-size: 4em;
        font-weight: normal;
    
    }
    
    .media2 i {
    
        border: #c39b3d;
        padding: 10px 10px;
        font-size: 1.1em;
        color: #c39b3d;
    }

    .box-box-visita textarea{

        width: 200px;
    }




}

/*tablet*/
@media (min-width: 768px) and (max-width:991px) { 
    


    .row {
        width: 733px;
        box-sizing: border-box;
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
    }

    .box {
        width:350px;
        box-sizing: border-box;
        margin: 10px 16px;
        border-radius: 5px;
    }
    .box:nth-child(odd) {
        margin-left:0;
    }

    .box:nth-child(even) {
        margin-right:0;
    }
    .box img {
        width:100%;
    }

    .box h3, .box p, .box h4 {
        padding: 0 10px;
    }

    .box button {
        float:right;
        margin: 10px;
    }

    header h1 {

        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .box-2 p,h3{

        padding-left: 10px;

   }

   .box-box-visita input{

    width: 300px;

   }

   .box-box-visita textarea{

    width: 300px;

   }

   .video-c{
    
    padding-top: 20px;
    margin-left: 30px;
    width: 600px;
    height: 300px;
 }

 .box-img2{

    width: 100%;
 }

 h4 {
    color: #86521a;
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
    margin-left: 200px;
}

.media2 li{


    display: inline;
    margin-left: 100px;
    font-size: 3em;
    font-weight: normal;

}

.media2 i {

    border: #c39b3d;
    padding: 5px 5px;
    font-size: 1.1em;
    color: #c39b3d;
}



    

}
/*desktop*/
@media (min-width: 992px) {


    .container {
        width: 1000px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .row {
        width:920px;
        margin: auto;
        box-sizing: border-box;
        display:flex;
        flex-direction: row;
    }

    

    .box, .box-2 {
        margin: 10px 15px;
        flex-grow:1;
    }
    .box {
        width:280px;
    }

    .box-2 {
        width: 600px;
        margin-left:0;
    }
    .box:first-child{
        margin-left:0;
    }

    .box:last-child {
        margin-right: 0;
    }

    .box-img {
        box-sizing: border-box;
        width:inherit;
    }
    
    .box-img2{

        padding-top: 20px;
    }

    .box h3, .box-2 h3, .box h4 {
        margin: 5px 0;    
    }

    .box p, .box h3, .box h4, .box-2 h3, .box-2 p {
        padding:0 10px;
    }

    .box h4 {
        font-size:0.9em;
    }

    .depoimento p {
        font-style: italic;
    }

    .box p, .box-2 p {
        font-size: 0.8em;
    }

    .box button {
        padding: 3px 8px;
        margin:3px 10px;
    }

    footer div {
        justify-content: space-between;
    }
    
    footer ul {
        padding:0;
        list-style: none;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer li {
        flex-grow: 1;
        margin:0px 15px;
    }

    .box-2 p{

     font-size: 25px;
    }

    .video-c{
    
        padding-top: 20px;
    
     }
}